* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

body {
  background: #212121;
  color: white;
  font-family: 'poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}