.upgrade {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 0;
    margin-top: auto;
}

.upgrade:hover {
    background: rgba(255, 255, 255, 0.08);
}

.upgrade-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.upgrade-text-title {
    font-size: 13px;
}

.upgrade-text-body{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.602);
}